/*----------------------------------Theme Colors Starts-------------------------------- */
a:hover,
a:active,
a:focus {
    color: #ec005f;
}
.theme-color, .hover-color:hover, .hover-color:focus, .navigation .dropdown-menu li a:hover, .navigation .dropdown-menu li a:focus,
.breadcrumb-menubar > li > a:hover, .breadcrumb-menubar > li > a:focus{
    color: #ec005f; 
}
.caption-text .video-icon.fa:hover, .caption-text .video-icon.fa:focus, 
.caption-text.style-2 .theme-btn:hover, .caption-text.style-2 .theme-btn:focus, .caption-text.style-3 .theme-btn:hover, 
.caption-text.style-3 .theme-btn:focus, .caption-text .form-group .submit-btn, .caption-text.style-3 .form-group .submit-btn{
    background: #ec005f;
}
.theme-btn, .theme-color-bg, .login-register li a:hover, .login-register li a:focus,.theme-tabs ul li.current a,.theme-btn-1:hover, .theme-btn-1:focus,.video-icon.fa, 
.price-box:hover .theme-btn-2,.price-box:focus .theme-btn-2,.tag-preview,

.widget-wrap.tag-cloud a:hover,.widget-wrap.tag-cloud a:focus, .pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover,
.pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover, .to-top,
.pagination > li > a:focus, .pagination > li > a:hover, .pagination > li > span:focus, .pagination > li > span:hover,
.post-next:hover, .post-previous:hover, .post-next:focus, .post-previous:focus, .form-submit > input[type="submit"]{
    background-color: #ec005f;
}
.theme-btn:hover,.theme-btn:focus, .theme-btn-big:hover,.theme-btn-big:focus,
.donation-wrap .theme-btn:hover,.donation-wrap .theme-btn:focus, .form-submit > input[type="submit"]:hover, .form-submit > input[type="submit"]:focus{
    border-color: #ec005f;
    color: #ec005f;
    background-color: #fff;
}

.slider-form .submit-btn,.video-icon.fa,.price-box:hover .theme-btn-2,.price-box:focus .theme-btn-2,

.title-devider .line-1, .theme-btn-1:hover, .theme-btn-1:focus,  .widget-wrap.tag-cloud a:hover,.widget-wrap.tag-cloud a:focus,
.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, 
.pagination > .active > span:focus, .pagination > .active > span:hover, .pagination > li > a:focus, .pagination > li > a:hover,
.pagination > li > span:focus, .pagination > li > span:hover, .post-next:hover, .post-previous:hover, .post-next:focus, .post-previous:focus,.form-submit > input[type="submit"]{
    border-color: #ec005f;
}
.theme-color-mask{
    background: rgba(236, 0, 95,0.8);
}
/*------------------------Theme Colors Ends------------------------ */